
<table>
  <tr>
    <th>Brand Name</th>
    <th>Total Profiles</th>
    <th>Total Fans</th>
    <th>Total Engagement</th>
  </tr>
  <tr *ngFor="let brand of brands">
    <td>{{ brand.name }}</td>
    <td>{{ brand.totalProfiles }}</td>
    <td>{{ brand.totalFans }}</td>
    <td>{{ brand.totalEngagement }}</td>
  </tr>
</table>


<mat-form-field appearance="fill">
  <mat-label>Choose a date</mat-label>
  <input matInput [matDatepicker]="picker" (dateChange) = "chooseDate()" [(ngModel)] = "calendarDate">
  <mat-hint>MM/DD/YYYY</mat-hint>
  <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
  <mat-datepicker #picker></mat-datepicker>
</mat-form-field>
